:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;


  --first-brand-color: #eaeaed;
  --second-brand-color: #eeca4b;
  --third-brand-color: #8aca62;
  --fourth-brand-color: #6e7dd9;


  --main-font: 'Poppins';
  --title-font:  'Poppins SemiBold';
  --main-title-font: 'Poppins ExtraBold';

  font-size: 62.5%;
}
